<div id=board>
    <%if(user != null){%>
    <a style="border: 1px solid grey;" class="writebutton" href="<%="/board/"+boardNum+"/writeform"%>">글쓰기</a>
    <%}%>
    <% length=postdata.length%>
    <% if(pageLength !== 0){%>
    <div>
        <table id="post-table" border="1">
            <tr>
                <th>no.</th>
                <th>title</th>
                <th>nick</th>
                <th>
                    <select id="select-type">
                        <option value="all">타입선택</option>
                        <option value="all">all</option>
                        <option value="normal">normal</option>
                        <option value="special">special</option>
                    </select>
                </th>
                <th>time</th>
                <th>recommend</th>
            </tr>
            <% postdata.forEach(function(post){%>
            <tr id="post-list">
                <td><%=post.id %></td>
                <td><a href="<%="/board/view/"+boardNum+'/'+post.id %>"><%= post.title %></a></td>
                <td><%=post.nick %></td>
                <td><%=post.type  %></td>
                <td><%=post.createdAt.toString().substring(15,25);  %></td>
                <td><%=post.recommend %></td>
            </tr>
            <%length--; %>
            <%})%>
        </table>
    </div>
    <div style="text-align: center;" id="pageSelector">
        <a href="?page=1" id="goFront">
            <<</a> <span id="pagelist"></span>
                <a href="?page=<%=pageLength%>" id="goBack">>></a>
    </div>
    <%}else{%>
        <span>첫번째 글을 작성해주세요 </span>
    <%}%>
</div>
<script>
    const pagelist = document.getElementById('pagelist')
    const pageLength = "<%=pageLength%>";
    let selectType =  document.getElementById("select-type")

    for(let i = 1;i<=pageLength;i++){
        var a = document.createElement('a');
        a.href = location.pathname + `?page=${i}`;
        a.textContent = ' '+i+' ';
        pagelist.appendChild(a);
    } 
    selectType.addEventListener('change',()=>{
        var type = selectType.options[selectType.selectedIndex].value;
        location.replace(`?type=${type}`);
    })

</script>